
@font-face {
    font-family: "JetBrains Mono";
    src: url("font/JetBrainsMonoNL-Light.ttf");
}

body{
    background: #e0e0e0;
    font-family: "JetBrains Mono";
    letter-spacing: -1px;
}

.parentAll{
    width: 20%;
    height: auto;
    padding: 1rem;
    background: bisque;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  5px 5px 16px #cacaca,
    -5px -5px 16px #f6f6f6;
}

.Question{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Question :nth-child(1){
    font-size: 15px;
    color: #5f6d55;
    font-weight: 700;
}

.Question :nth-child(2){
    font-size: 20px;
    font-weight: 700;
    margin-top: .5rem;
    color: #5f6d55;
}

.HangImage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HangImage :nth-child(1){
    width: 180px;
    height: 260px;
    margin-top: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    opacity: .7;

}
.ShowNumberMistake{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 15px;
    color: #5f6d55;
    font-weight: 700;
}

.KeyBords{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .25rem;
}

.KeyBords button{
    width: 30px;
    height: 30px;
    border: none;
    margin: 1% .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    cursor: pointer;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 17px #cecece,
    -5px -5px 17px #f2f2f2;
    color: #4c5845;
}

.KeyBords button:hover{
    background: #5f6d55;
    color: white;
}

.KeyBords button:disabled{
    color: #de8e8e
}

.RefreshButton{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.RefreshButton button{
    width: 30%;
    height: 2rem;
    border-radius: 15px;
    background-color: #5f6d55;
    border: none;
    color: whitesmoke;
    transition: .5s;
    cursor: pointer;
    margin-top: 1rem;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 17px #cecece,
    -5px -5px 17px #f2f2f2;
    color: #4c5845;
}

.RefreshButton button:hover{
    background: #5f6d55;
    color: whitesmoke;
}

.WinLoseText{
    font-size: 20px;
    color: #5f6d55;
    font-weight: 600;
}